
<div style="position: absolute; margin-top: -100px; margin-left: -10px" id="map"  >
</div>
<div id="buscador" class="bordertext">
    <input type="text" style="   height: 25px;
           width: 77%;
           margin: 0 auto;
           padding-bottom: 7px;
           padding-top: 7px;">
</div>
<div style="
    z-index: 100;
    position: absolute;
    margin-top: 80%;
    margin-left: 60%;
">
    <button ng-click="clearMap()">Eliminar</button>
    <button ng-click="localizar()">Localizar</button>
    <button ng-click="calcular()">Calcular</button>
    
</div>
