<div class="modal-body" id="naranja">
    <div class="modal-token" style="align-items:center">
        <h2>Resultados</h2>
        <table>
            <tr>
                <td>Automovil: </td>
                <td><select ng-model="automovil" ng-change="loadAutomovil()" class="browser-default">
                        <option value="" ></option>
                        <option ng-repeat="option in favoritos" value="{{option.nombre}}">{{option.nombre}}</option>
                    </select>
                </td>
            </tr>
            <tr><td>Tiempo de recorrido (m): </td><td>{{result.tiempo}}</td></tr>
            <tr><td>Kilometros recorridos (km): </td><td>{{result.distancia}}</td></tr>
            <tr><td>Gasolina requerida (lt): </td><td><b>{{result.litrosGasolina}}</b></td></tr>
        </table>
        <p style="text-align: right">*El uso de gasolina es estimado y puede diferir con el consumo real</p>
    </div>
</div>