



<div class="s12 m4 l2">
    <!-- Promo Content 1 goes here -->
</div>
<div class="col s4">
    <div id="busqueda" ng-style="displayBusqueda">
        <form ng-submit="findVehiculo()">

            <div class="list">
                <label  class="item item-input item-select">
                    <div  class="input-label">Marca
                    </div>
                    <select ng-model="marca" ng-change="loadSubMarca(marca)" class="browser-default">
                        <option value="" ></option>
                        <option ng-repeat="option in marcas" value="{{option.value}}">{{option.text}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div  class="input-label">Sub marca</div>
                    <select ng-model="submarca" ng-change="loadAno(submarca)" class="browser-default">
                        <option value="" ></option>
                        <option ng-repeat="option in submarcas" value="{{option.value}}">{{option.text}}</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div  class="input-label">Año modelo</div>
                    <select ng-model="ano" ng-change="changeAno(ano)" class="browser-default">
                        <option value="" ></option>
                        <option ng-repeat="option in anos" value="{{option.value}}">{{option.text}}</option>
                    </select>
                </label>
            </div>

            <div style="margin-left: 60%; text-align: right;" >
                <button class="btn btn-primary" style="margin-bottom: 5%;" type="submit">Consultar</button>            </form>
        <button class="btn btn-primary" style="border-color:#423e3e" type="reset">Limpiar</button>            </form>

    </div>
</div>
<div id="Resultado" ng-style="displayResultado">
    <div style="width: 100%;
    overflow: auto;">
        <table>
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vehiculo in vehiculos">
                    <td>
                        <input type="checkbox" class="filled-in" ng-model="vehiculo.selected" ng-change="notAll()" />
                        <label for="filled-in-box{{vehiculo.id}}"></label>
                    </td>
                    <td>
                        <p><b>{{vehiculo.nombre}}</b></p>
                        <p><b>Marca: </b>{{vehiculo.marca}}</p>
                        <p><b>Año: </b>{{vehiculo.ano}}</p>
                        <p><b>Transmisión: </b>{{vehiculo.transmision}}</p>
                        <p><b>Combustible: </b>{{vehiculo.combustible}}</p>
                        <p><b>Rendimiento por lt: </b>{{vehiculo.rendimientoPorLitro}}</p>
                    </td>  
                </tr>
            </tbody>
        </table>   


        <div style="margin-left: 60%; text-align: right;" >
            <button class="btn btn-primary" style="margin-bottom: 5%;" type="submit">Guardar</button>            </form>
            <button class="btn btn-primary" style="border-color:#423e3e" type="button" ng-click="regresar()">Regresar</button>            </form>

        </div>
    </div>
</div>
</div>
<div class="s12 m4 l2">
    <!-- Promo Content 3 goes here -->
</div>







